<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lodz.android.agiledevkt">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 写入设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- ********************* 需要申请（只要同组有一个授权整组的权限都可以使用） ********************* -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许读取手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 通过GPS芯片接收卫星的定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过WiFi或移动基站的方式定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lodz.android.agiledevkt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name=".modules.location.LocationService"
            android:exported="false"
            android:label="定位服务" />

        <activity
            android:name=".modules.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.main.MainActivity"
            android:label="主页面"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.anko.AnkoLayoutActivity"
            android:label="AnkoLayout测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.file.FileTestActivity"
            android:label="文件测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.security.EncryptTestActivity"
            android:label="加密测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.bitmap.BitmapTestActivity"
            android:label="Bitmap图片测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.image.GlideActivity"
            android:label="Glide测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.notification.NotificationActivity"
            android:label="通知测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.toast.ToastTestActivity"
            android:label="Toast测试类"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".modules.reflect.ReflectActivity"
            android:label="反射测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.color.ColorAlphaTestActivity"
            android:label="颜色透明度测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.threadpool.ThreadPoolActivity"
            android:label="线程池测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.idcard.IdcardTestActivity"
            android:label="身份证号码测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.format.NumFormatTestActivity"
            android:label="数字格式化测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.selector.SelectorTestActivity"
            android:label="背景选择器测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.setting.SettingTestActivity"
            android:label="设置测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.str.StrTestActivity"
            android:label="字符测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.info.InfoTestActivity"
            android:label="信息展示测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.bluetooth.BluetoothTestActivity"
            android:label="蓝牙测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarTestActivity"
            android:label="状态栏透明颜色测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarImgTestActivity"
            android:label="带ImageView的状态栏颜色测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.drawer.DrawerTestActivity"
            android:label="侧滑栏测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoordinatorTestActivity"
            android:label="CoordinatorLayout测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorStatusBarTestActivity"
            android:label="带CoordinatorLayout的状态栏测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorTranslationActivity"
            android:label="带CoordinatorLayout的位移测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.snackbar.SnackbarTestActivity"
            android:label="Snackbar测试类"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".modules.crash.CrashTestActivity"
            android:label="崩溃测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.location.LocationTestActivity"
            android:label="定位测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.dialog.DialogActivity"
            android:label="弹框测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.array.ArrayTestActivity"
            android:label="数组列表测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.acache.ACacheTestActivity"
            android:label="ACache缓存测试类"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>