<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lodz.android.agiledevkt">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 写入设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- 前台通知 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 获取堆栈列表适配4.4 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- ********************* 需要申请（只要同组有一个授权整组的权限都可以使用） ********************* -->
    <!-- 读通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许读取手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写存储 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 读存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 允许安装未知来源应用 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 允许删除应用 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <!-- ********************* 原生GPS定位 ********************* -->
    <!-- 通过GPS芯片接收卫星的定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过WiFi或移动基站的方式定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 后台定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- ********************* 腾讯定位 ********************* -->
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 通过GPS得到精确位置 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!-- 通过网络得到粗略位置 -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->


    <!-- ********************* 高德定位 ********************* -->
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--用于访问GPS定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--用于访问网络，网络定位需要上网-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--用于读取手机当前的状态-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--用于写入缓存数据到扩展存储卡-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--用于申请获取蓝牙信息进行室内定位-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH"/>-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->

    <!-- 适配android11允许获取手机里所有的应用信息 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="s">

    <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.lodz.android.agiledevkt.AppIniter"
                android:value="androidx.startup" />
        </provider>

        <!--订阅日志标签-->
        <meta-data
            android:name="error_tag"
            android:value="resultValue" />

        <!--腾讯定位-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="您申请的Key" />

        <!--高德定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="您申请的Key" />
        <!--高德定位服务-->
        <service
            android:name="com.amap.api.location.APSService"
            android:exported="false">

        </service>

        <service
            android:name=".modules.service.BusService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:label="服务总线">

        </service>

        <activity
            android:name=".modules.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.main.MainActivity"
            android:label="主页面"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <!--        <activity-->
        <!--            android:name=".modules.anko.AnkoLayoutActivity"-->
        <!--            android:label="AnkoLayout测试类"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity">-->

        <!--        </activity>-->

        <activity
            android:name=".modules.file.FileTestActivity"
            android:label="文件测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.security.EncryptTestActivity"
            android:label="加密测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.bitmap.BitmapTestActivity"
            android:label="Bitmap图片测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.image.GlideActivity"
            android:label="Glide测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.notification.NotificationActivity"
            android:label="通知测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.notification.MsgDetailActivity"
            android:label="消息详情"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.toast.ToastTestActivity"
            android:label="Toast测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>


        <activity
            android:name=".modules.reflect.ReflectActivity"
            android:label="反射测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.color.ColorAlphaTestActivity"
            android:label="颜色透明度测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.threadpool.ThreadPoolActivity"
            android:label="线程池测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.idcard.IdcardTestActivity"
            android:label="身份证号码测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.format.NumFormatTestActivity"
            android:label="数字格式化测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.selector.SelectorTestActivity"
            android:label="背景选择器测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.setting.SettingTestActivity"
            android:label="设置测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.str.StrTestActivity"
            android:label="字符测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.info.InfoTestActivity"
            android:label="信息展示测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.bluetooth.BluetoothTestActivity"
            android:label="蓝牙测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarTestActivity"
            android:label="状态栏透明颜色测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarImgTestActivity"
            android:label="带ImageView的状态栏颜色测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.drawer.DrawerTestActivity"
            android:label="侧滑栏测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.coordinator.CoordinatorTestActivity"
            android:label="CoordinatorLayout测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorStatusBarTestActivity"
            android:label="带CoordinatorLayout的状态栏测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorTranslationActivity"
            android:label="带CoordinatorLayout的位移测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.snackbar.SnackbarTestActivity"
            android:label="Snackbar测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>


        <activity
            android:name=".modules.crash.CrashTestActivity"
            android:label="崩溃测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.location.LocationTestActivity"
            android:label="定位测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.dialog.DialogActivity"
            android:label="Dialog测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.array.ArrayTestActivity"
            android:label="数组列表测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.acache.ACacheTestActivity"
            android:label="ACache缓存测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.MvpDemoActivity"
            android:label="MVP模式测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.abs.activity.MvpTestAbsActivity"
            android:label="MVP基础Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.base.activity.MvpTestBaseActivity"
            android:label="带基础控件的MVP测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.refresh.activity.MvpTestRefreshActivity"
            android:label="刷新测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.MvpFragmentActivity"
            android:label="fragment生命周期测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvp.sandwich.activity.MvpTestSandwichActivity"
            android:label="刷新测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.MvcDemoActivity"
            android:label="MVC模式测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.abs.MvcTestAbsActivity"
            android:label="MVC基础Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.base.MvcTestBaseActivity"
            android:label="MVC带基础状态控件Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.refresh.MvcTestRefreshActivity"
            android:label="带基础状态控件和下来刷新控件Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.sandwich.MvcTestSandwichActivity"
            android:label="MVC带基础状态控件、中部刷新控件和顶部/底部扩展Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvc.MvcFragmentActivity"
            android:label="fragment生命周期测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.anko.FragmentChangeActivity"
            android:label="Fragment变更类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.transition.TransitionActivity"
            android:label="共享元素动画"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.transition.ElementActivity"
            android:label="共享元素详情"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.anim.AnimRvActivity"
            android:label="RV动画测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.loadmore.RefreshLoadMoreActivity"
            android:label="RV刷新/加载更多测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.head.HeadFooterRvActivity"
            android:label="RV带头/底部测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.drag.DragRvActivity"
            android:label="RV拖拽测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.snap.SnapRvActivity"
            android:label="RvSnap测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.decoration.DecorationRvActivity"
            android:label="RV装饰器测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.decoration.DecorationTestActivity"
            android:label="装饰器测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rv.binder.BinderRvActivity"
            android:label="RecyclerBinder测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.bottomsheet.BottomSheetsActivity"
            android:label="BottomSheets测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.dialogfragment.DialogFragmentActivity"
            android:label="DialogFragment测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.pic.PicActivity"
            android:label="图片测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.pic.preview.PicPreviewTestActivity"
            android:label="图片预览测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.album.AlbumActivity"
            android:label="系统相册测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.pic.picker.PicPickerTestActivity"
            android:label="图片选择测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.pic.take.TakePhotoTestActivity"
            android:label="拍照测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.pic.ninegrid.NineGridActivity"
            android:label="九宫格测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.progressdialog.ProgressDialogActivity"
            android:label="加载框测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.utils.RxUtilsTestActivity"
            android:label="Rx帮助类测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.observable.RxObservableActivity"
            android:label="RxObservable订阅测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.flowable.RxFlowableActivity"
            android:label="RxFlowable订阅测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.single.RxSingleActivity"
            android:label="RxSingle订阅测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.maybe.RxMaybeActivity"
            android:label="RxMaybe订阅测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.rxjava.completable.RxCompletableActivity"
            android:label="RxCompletable订阅测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.menubar.MenuBarTestActivity"
            android:label="底部菜单栏测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.collect.CollectActivity"
            android:label="采集测试页"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.api.ApiTestActivity"
            android:label="接口测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.api.rx.ApiRxTestActivity"
            android:label="RX模式的接口请求"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.api.coroutines.ApiCoroutinesTestActivity"
            android:label="协程模式的接口请求"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.date.DateActivity"
            android:label="日期测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.coroutines.CoroutinesActivity"
            android:label="协程测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.dimensions.DimensionsActivity"
            android:label="单位转换测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.config.ConfigLayoutActivity"
            android:label="基础控件配置"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.annotation.AnnotationTestActivity"
            android:label="注解测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.webview.WebViewActivity"
            android:label="WebView测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.webview.PgWebViewActivity"
            android:label="带加载控件的WebView测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.webview.JsWebViewActivity"
            android:label="JS交互的WebView测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.webview.simple.SimpleWebViewActivity"
            android:label="简单配置的WebView测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.cardview.CardViewActivity"
            android:label="CardView测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.MvvmDemoActivity"
            android:label="MVVM模式测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.abs.MvvmTestAbsActivity"
            android:label="MVVM基础Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.base.MvvmTestBaseActivity"
            android:label="MVVM带基础状态控件Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.refresh.MvvmTestRefreshActivity"
            android:label="MVVM带基础状态控件和下拉刷新控件Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.sandwich.MvvmTestSandwichActivity"
            android:label="MVVM带基础状态控件、中部刷新控件和顶部/底部扩展的Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.mvvm.loadmore.MvvmTestLoadMoreActivity"
            android:label="MVVM加载更多测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>


        <activity
            android:name=".modules.mvvm.MvvmFragmentActivity"
            android:label="Fragment控件状态测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.viewpager.ViewPagerActivity"
            android:label="ViewPager2测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.fglifecycle.FragmentLifecycleActivity"
            android:label="Fragment生命周期测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.fglifecycle.vp.FgVpTestActivity"
            android:label="ViewPager嵌套Fragment测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.fglifecycle.vp2.FgVp2TestActivity"
            android:label="ViewPager2嵌套Fragment测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.download.DownloadMarketActivity"
            android:label="下载测试"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.hole.HoleTestActivity"
            android:label="子控件透明布局测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <!--        <activity-->
        <!--            android:name=".modules.koin.KoinTestActivity"-->
        <!--            android:label="Koin注入测试类"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            tools:ignore="LockedOrientationActivity">-->

        <!--        </activity>-->

        <activity
            android:name=".modules.camera.CameraMainActivity"
            android:label="相机测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.camera.CameraTakeActivity"
            android:label="拍照页面"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.keyboard.KeyboardTestActivity"
            android:label="自定义键盘测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.viewbinding.ViewBindingTestActivity"
            android:label="ViewBinding测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.bytes.BytesTestActivity"
            android:label="字节转换测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.extras.ExtrasTestActivity"
            android:label="参数传递测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.extras.ExtrasToActivity"
            android:label="参数传递给Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.aop.AopTestActivity"
            android:label="切面编程测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.aop.checklogin.AopLoginActivity"
            android:label="切面编程测试登录页"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.aop.checklogin.AopAttentionActivity"
            android:label="切面编程测试关注页"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.result.ResultContractsCaseActivity"
            android:label="ActivityResultContracts的用例"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".modules.contact.ContactTestActivity"
            android:label="通讯录测试类"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>

    </application>

</manifest>