<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lodz.android.agiledevkt">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 写入设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- ********************* 需要申请（只要同组有一个授权整组的权限都可以使用） ********************* -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许读取手机信息权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- ********************* 原生GPS定位 ********************* -->
    <!-- 通过GPS芯片接收卫星的定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过WiFi或移动基站的方式定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- ********************* 腾讯定位 ********************* -->
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 通过GPS得到精确位置 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!-- 通过网络得到粗略位置 -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->


    <!-- ********************* 高德定位 ********************* -->
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!--用于访问GPS定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--用于访问网络，网络定位需要上网-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--用于读取手机当前的状态-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--用于写入缓存数据到扩展存储卡-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--用于申请获取蓝牙信息进行室内定位-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH"/>-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lodz.android.agiledevkt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!--腾讯定位-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="您申请的Key" />

        <!--高德定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="您申请的Key" />
        <!--高德定位服务-->
        <service
            android:name="com.amap.api.location.APSService"
            android:exported="false">

        </service>

        <service
            android:name=".modules.service.BusService"
            android:exported="false"
            android:label="服务总线">

        </service>

        <activity
            android:name=".modules.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.main.MainActivity"
            android:label="主页面"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.anko.AnkoLayoutActivity"
            android:label="AnkoLayout测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.file.FileTestActivity"
            android:label="文件测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.security.EncryptTestActivity"
            android:label="加密测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.bitmap.BitmapTestActivity"
            android:label="Bitmap图片测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.image.GlideActivity"
            android:label="Glide测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.notification.NotificationActivity"
            android:label="通知测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.toast.ToastTestActivity"
            android:label="Toast测试类"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".modules.reflect.ReflectActivity"
            android:label="反射测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.color.ColorAlphaTestActivity"
            android:label="颜色透明度测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.threadpool.ThreadPoolActivity"
            android:label="线程池测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.idcard.IdcardTestActivity"
            android:label="身份证号码测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.format.NumFormatTestActivity"
            android:label="数字格式化测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.selector.SelectorTestActivity"
            android:label="背景选择器测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.setting.SettingTestActivity"
            android:label="设置测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.str.StrTestActivity"
            android:label="字符测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.info.InfoTestActivity"
            android:label="信息展示测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.bluetooth.BluetoothTestActivity"
            android:label="蓝牙测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarTestActivity"
            android:label="状态栏透明颜色测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.statusbar.StatusBarImgTestActivity"
            android:label="带ImageView的状态栏颜色测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.drawer.DrawerTestActivity"
            android:label="侧滑栏测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoordinatorTestActivity"
            android:label="CoordinatorLayout测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorStatusBarTestActivity"
            android:label="带CoordinatorLayout的状态栏测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.coordinator.CoorTranslationActivity"
            android:label="带CoordinatorLayout的位移测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.snackbar.SnackbarTestActivity"
            android:label="Snackbar测试类"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".modules.crash.CrashTestActivity"
            android:label="崩溃测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.location.LocationTestActivity"
            android:label="定位测试"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.dialog.DialogActivity"
            android:label="弹框测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.array.ArrayTestActivity"
            android:label="数组列表测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.acache.ACacheTestActivity"
            android:label="ACache缓存测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.MvcDemoActivity"
            android:label="MVC模式测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.abs.MvcTestAbsActivity"
            android:label="MVC基础Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.base.MvcTestBaseActivity"
            android:label="MVC带基础状态控件Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.refresh.MvcTestRefreshActivity"
            android:label="带基础状态控件和下来刷新控件Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.sandwich.MvcTestSandwichActivity"
            android:label="MVC带基础状态控件、中部刷新控件和顶部/底部扩展Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.mvc.MvcFragmentActivity"
            android:label="fragment生命周期测试类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.anko.FragmentChangeActivity"
            android:label="Fragment变更类"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.transition.TransitionActivity"
            android:label="共享元素动画"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.transition.ElementActivity"
            android:label="共享元素详情"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".modules.rv.anim.AnimRvActivity"
            android:label="RV动画测试"
            android:screenOrientation="portrait">

        </activity>



    </application>

</manifest>