<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".picker.preview.PicturePreviewActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".picker.file.pick.any.AnyPickerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".picker.file.pick.phone.PhonePickerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".picker.take.TakePhotoActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>
</manifest>