<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lodz.android.pandora" >

    <application>
        <activity
            android:name=".picker.preview.PicturePreviewActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".picker.photo.pick.PhotoPickerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".picker.take.TakePhotoActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>
</manifest>